/* Font imports */
/* Body */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Table titles */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
/* Tables & buttons */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
/* Headings */
@font-face {
    font-family: "Andada SC";
    src: url("assets/andada.sc.otf") format("opentype");
    font-weight: normal;
}

/* D&D color scheme */
:root {
    --page-background: rgba(255, 254, 189, 0.2);
    --background: #fffef1;
    --foreground: #2c2e35;
    --brown: #571713;
    --yellow: #cfb268;
    --red: #930C10;
    --green: #7a853b;
    --table-green: #e0e5c1;
}

/* No hover */
.no-hover {
    pointer-events: none;
}

/* All SVG symbols */
.octicon.octicon-trash,
.octicon.octicon-bold,
.octicon.octicon-italic,
.octicon.octicon-code,
.octicon.octicon-list-unordered,
.octicon.octicon-list-ordered,
.octicon.octicon-quote,
.octicon.octicon-horizontal-rule,
.octicon.octicon-link,
.octicon.octicon-image,
.octicon.octicon-arrow-both,
.octicon.octicon-question,
.oticon.oticon-gear,
.oticon.oticon-pencil {
	color: var(--background) !important;
}
.btn .octicon {
    color: var(--background) !important;
}

/* Body */
body {
    background-color: var(--page-background);
    font-family: "Gentium Book Plus" !important;
}
.markdown-body {
    font-family: "Gentium Book Plus";
}

/* Titles */
h1, h2, h3, h4 {
    font-family: "Andada SC";
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    color: var(--brown);
    padding-bottom: .125em;
    border-bottom: 0.125em groove var(--yellow);
}

/* Buttons */
.btn {
    font-family: "Alegreya Sans";
    font-weight: 700;
    background-color: var(--brown);
	color: var(--background);
	border-color: var(--brown);
}
.btn:hover {
	background-color: var(--red);
	color: var(--background);
	border-color: var(--red);
}

.btn:disabled {
    background-color: var(--background);
	color: var(--foreground);
	border-color: var(--yellow);
}

.minibutton-new-page {
    background-color: var(--green);
	color: var(--background);
	border-color: var(--green);
}
.minibutton-new-page:hover {
    background-color: var(--yellow);
	color: var(--background);
	border-color: var(--yellow);
}

.btn.btn-sm.float-right.delete-file {
    background-color: var(--red);
	color: var(--background);
	border-color: var(--red);
}


/* Button groups */
.btn-group-flex {
	display: flex;
	column-gap: 0.25em;
	justify-content: space-between;
}

/* Links */
a {
    color: var(--red);
}

/* Searchbar */
#search-query {
    background-color: var(--background);
    border-color: var(--yellow);
    color: var(--foreground);
}

/* Tables */
.markdown-body table {
    border-collapse: collapse;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}
.markdown-body table th {
    border: 0;
    font-family: "Alegreya Sans";
    font-weight: 700;
    background-color: var(--page-background);
}
.markdown-body table td {
    border: 0;
    font-family: "Alegreya Sans";
    background-color: var(--page-background);
}
.markdown-body table tbody tr:nth-child(odd) {
    background-color: var(--table-green);
}
.markdown-body table tbody tr:nth-child(even) {
    background-color: var(--page-background);
}
